.address-detail {
  background-color: white;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 43px;
  left: 100%;
  width: 100%;
}

@include tablet() {
  .address-detail {
    position: initial;
    top: auto;
    left: auto;
    width: 65%;
  }
}
