.address-detail {
  background-color: $grey-lighter;
  height: calc(100% - 43px);
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 43px;
  left: 100%;
  width: 100%;
  transition: transform ease-in .2s,
              opacity ease .1s,
              background-color ease $darkmode-transition-speed;

  &.active {
    opacity: 1;
    transform: translateX(-100%);
    transition: transform cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s,
                opacity ease .4s,
                background-color ease $darkmode-transition-speed;
  }

  @include scroll-bar();
}

.profile {
  padding: 1rem;
}

.profile-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-photo {
  margin-top: .5rem;
  margin-bottom: 1rem;
  height: 128px;
  width: 128px;
  img {
    border-radius: 128px;
  }
}

.profile-section {
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 0.5rem;
    transition: color ease $darkmode-transition-speed;
  }
}

.profile-card {
  background-color: $white;
  border-radius: 8px;
  padding: 1rem;
  transition: background-color ease $darkmode-transition-speed;

  .title {
    color: $grey;
    font-size: .75rem;
    font-weight: 600;
  }
  .subtitle {
    color:$grey-darker;
    font-weight: 600;
    margin-bottom: .75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include tablet() {
  .address-detail {
    position: initial;
    opacity: 1;
    top: auto;
    left: auto;
    width: 65%;

    &.active {
      transform: translateX(0);
    }
  }
}
