html {
  background-color: $white;
  font-size: $main-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input,
select {
  font-family: $family-sans-serif;
}

body {
  background-color: $tea-green;
  color: $grey;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
}

.container {
  height: 100vh;
  position: relative;
  width: 100%;
}
.app-title {
  background-color: $primary;
  color: $grey-lighter;
  padding: 0.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  transition: background-color ease $darkmode-transition-speed;

  .button-back {
    cursor: pointer;
    position: absolute;
    top: .2rem;
    left: .6rem;
    width: 2.2rem;
  }

  .button-darkmode {
    cursor: pointer;
    position: absolute;
    top: .3rem;
    right: .6rem;
    width: 2rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@include tablet() {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .button-back {
    display: none;
  }
}

@include desktop() {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1010px;
  }
}
