.dark-mode {
  // generic
  a {
    color: $bdazzled-blue;
    &:hover,
    &:focus {
      color: $secondary;
    }
  }
  h3,
  h4 {
    color: $grey-lighter;
  }

  // title
  .app-title {
    background-color: $bdazzled-blue;
  }

  // sidebar
  .address-search {
    background-color: $grey-darker;
  }
  .button-filter {
    filter: invert(1);
  }
  .address-list {
    background-color: $grey-darker;
    color: $grey-lighter;
    &::-webkit-scrollbar-track {
      background: $grey-darker;
    }
  }
  .address-item {
    &.active {
      background-color: $bdazzled-blue;
      &:hover {
        background-color: $bdazzled-blue;
      }
    }
    &:hover {
      background-color: rgba($bdazzled-blue, 0.2);
    }
  }

  // address detail
  .address-detail {
    background-color: $grey;
    &::-webkit-scrollbar-track {
      background: $grey-darker;
    }
    .empty-state {
      color: $grey-lighter;
    }
  }
  .profile-card {
    background-color: $grey-lighter;
  }

  // modal
  .modal-dialog {
    background-color: $grey-darker;
    color: $grey-lighter;
  }
  .button-close {
    filter: invert(1);
  }

  // elements
  .checkbox {
    input {
      &:checked ~ .checkmark {
        background-color: $bdazzled-blue;
      }
      &:focus {
        ~span {
          outline: 1px solid $bdazzled-blue;
        }
      }
    }
  }
  .button {
    background-color: $bdazzled-blue;
    &:hover {
      background-color: $secondary; 
    }
    &:focus {
      background-color: rgba($secondary, 0.9);
    }
  }
}
